absl-py
accelerate
aiohttp
alembic
altair
anyio
appdirs
async-timeout
attrs
boto3
botocore
cachetools
catboost
click
cloudpathlib
cloudpickle
colorama
colorful
colorlog
datasets
defusedxml
dill
einops
evaluate
fastai
fastcore
fastdownload
fastprogress
filelock
fonttools
frozenlist
fs
fsspec
gdown
GitPython
google-api-core
google-auth
graphviz
grpcio
gym
h11
httpcore
httpx
huggingface-hub
hyperopt
idna
imageio
importlib_resources
iniconfig
Jinja2
joblib
jsonschema
kiwisolver
langcodes
lightgbm
lightning
matplotlib
mdit-py-plugins
memray
mlforecast
networkx
nlpaug
nltk
numba
numpy
openai
optuna
pandas
pillow
plotly
preshed
protobuf
pydeck
pyaml
pyarrow
pycryptodome
pydantic
pyparsing
pytesseract
pytest
pytorch-lightning
pytorch-metric-learning
pyyaml
ray
reformer-pytorch
requests
rich
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
spacy
SQLAlchemy
srsly
streamlit
tensorboard
tensorboardX
torch==1.13.0+cpu
torchmetrics
torchvision==0.14.0+cpu
transformers
tqdm
xgboost
